<div tabindex="-1" class="ember-sr-only sr-only-focusable" id="ember-a11y-refocus-nav-message">
  Navigation to {{fullUrl}} is complete. You may now navigate the rest of the page content as you wish.
</div>