<div tabindex="-1" class="ember-sr-only {{if this.isFocusable "ember-sr-only-focusable"}}" id="ember-a11y-refocus-nav-message">
  The page navigation is complete. You may now navigate the page content as you wish.
</div>