<header>
  <NavigationNarrator/>
  <nav>
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="alpha">Alpha</LinkTo>
    <LinkTo @route="bravo">Bravo</LinkTo>
  </nav>
</header>

<main id="main">
  {{outlet}}
</main>