name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request: {}

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 12.x
      - name: install yarn
        run: npm install -g yarn
      - name: install dependencies
        run: yarn install
      - name: lint
        run: yarn lint:js
      - name: test
        run: yarn test

  try-scenarios:
    name: ember-try

    runs-on: ubuntu-latest

    needs: test

    strategy:
      matrix:
        ember-try-scenario:
          - ember-lts-3.24
          - ember-lts-3.28
          - ember-release
          - ember-beta
          - ember-canary
          - embroider-safe
          - embroider-optimized
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 12.x
      - name: install yarn
        run: npm install -g yarn
      - name: install dependencies
        run: yarn install
      - name: test
        env:
          EMBER_TRY_SCENARIO: ${{ matrix.ember-try-scenario }}
        run: node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO
